/* The alert message box */
.redalert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.greenalert {
    padding: 20px;
    background-color: #008000; /* green */
    color: white;
    margin-bottom: 15px;
}


/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.bg-image {
    background-image: url("https://cdn.discordapp.com/attachments/756128187418935326/788394163883474944/360_F_266975389_sBNp4HyE8gG58U62Fv2A6JTsaAVtLMk4.jpg");
    background-size: cover;
    height: 250px;
    width: 100%;
    margin: auto;
}

.bg-text {
    position: center;
    text-align: center;
}

h1 {
    text-align: center;
    font-family: "Arial Black";
    font-size: 50px;
    color: #3CB371;
}

form.example input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: 1px solid grey;
    width:600px;
}

button {
    padding: 15px;
}

.quickguide {
    margin: auto;
    height: 250px;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.quickguide2 {
    margin: auto;
    height: 250px;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.wayitworks {
    text-align: center;
    font-family: "Arial Black";
    font-size: 30px;
    color: #049B14;
}




