header {
    background: #049B14;
    color: white;
}


body {
    font-family: Gill Sans, sans-serif;
    margin: 0;
    background: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}

img {
    height: 60px;
}

li a {
    display: block;
    color: #111111;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
}

li a:hover {
    background-color: #049B14;
    text-decoration: underline;
}

section {
    margin-left: 500px;
    margin-right: 500px;
    font-family: Gill Sans, sans-serif;
}

textarea {
    height: 150px;
}

h1  {
    text-align: center;
    font-family: "Arial Black";
    font-size: 30px;
    margin: 20px;

}

input   {
    width: 170px;
    padding: 5px;

}

.nameclass {
    display: inline-block;
    width: 170px;
    padding: 5px;
}

/*border-color: #E5E5E5;
border-style: groove;
border-width: 10px;
background: white;
margin: 30px;
padding: 20px; (body opmaak)

background-image: url("https://cdn.discordapp.com/attachments/756128187418935326/788394163883474944/360_F_266975389_sBNp4HyE8gG58U62Fv2A6JTsaAVtLMk4.jpg");
background-repeat: no-repeat;
background-size: cover; (body achtergrond)
 */